<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hola, {{name}},</p>
        <p>Has solicitado un cambio de contraseña.</p>
        <p> Por favor,ingresa el siguiente código en la app</p>
        <h1>{{token}}</h1>
    </body>
</html>