<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hola, {{name}},</p>
        <p>Has solicitado un cambio de contraseña.</p>
        <p> Por favor, haz clik en el link para recuperar la contraseña</p>
        <a href="{{link}}">
            <button>Cambiar contraseña</button>
        </a>
    </body>
</html>